{
	"arrowParens": "always",
	"bracketSpacing": true,
	"cursorOffset": 2,
	"endOfLine": "lf",
	"filepath": "none",
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"overrides": [],
	"parser": "typescript",
	"plugins": [],
	"pluginSearchDirs": [],
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "preserve",
	"requirePragma": false,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
